@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Space+Grotesk:wght@300;700&display=swap');


body {
	background-color: black;

}

header {
	background-color: #FDC92F;
	display: inline-flex;
	margin: -1vw;
	width: 101.4%;
	text-align: center;
	align-items: center;
	height: 15vh;
}

#ojo {
	width: 8vw;
	height: 8vw;
	margin-left: 3vw;
	margin-top: 0.8vw;
}

.iconos {
	display: inline-flex;
	margin-left: 55vw;
	justify-content: space-between;
}

#fotos {
	margin-inline: 2vw;
	margin-top: 0.8vw;
	width: 2.5vw;
}

main {
	color: white;
	font-size: 1.6vw;
	text-align: center;
	align-items: center;
	font-family: 'Carrois Gothic';


}

.p1 {
	display: inline-flex;
	margin: 3vw;
}

#thais {
	width: 14vw;
	height: 22vw;
	display: table-cell;
	
}
.texto1 {
	display: table-cell;
	width: 40vw;


}


.p2 {
	display: inline-flex;
	margin: 3vw;
}

#chiwi {
	width: 10vw;
	height: 23vw;
	display: table-cell;

	
}
.texto2 {
	display: table-cell;
	width: 40vw;
	

}


.p3 {

	display: inline-flex;
	margin: 3vw;
}

#seba {
	width: 16vw;
	display: table-cell;
	
	
}
.texto3 {
	display: table-cell;
	width: 40vw;


}

.p4 {
	display: inline-flex;
	margin: 3vw;
}

#sara {
	width: 13vw;
	display: table-cell;

	
}
.texto4 {
	display: table-cell;
	width: 40vw;
	

}

.p5 {

	display: inline-flex;
	margin: 3vw;
}

#vale {
	width: 10vw;
	display: table-cell;
	
	
}
.texto5 {
	display: table-cell;
	width: 40vw;


}

.p6 {

	display: inline-flex;
	margin: 3vw;
}

#michelle {
	width: 14vw;
	height: 23vw;
	display: table-cell;
	
	
}
.texto6 {
	display: table-cell;
	width: 40vw;


}

.p7 {

	display: inline-flex;
	margin: 3vw;
}

#marti {
	width: 13vw;
	height: 23vw;
	display: table-cell;
	
	
}
.texto7 {
	display: table-cell;
	width: 40vw;


}


.p8 {

	display: inline-flex;
	margin: 3vw;
}

#lorenzo {
	width: 14vw;
	height: 26vw;
	display: table-cell;
	
	
}
.texto8 {
	display: table-cell;
	width: 40vw;


}


.p9 {

	display: inline-flex;
	margin: 3vw;
}

#caro {
	width: 12vw;
	height: 23vw;
	display: table-cell;
	
	
}
.texto9 {
	display: table-cell;
	width: 40vw;


}

.titulo {
	color: #FDC92F;

}

h3 {
	color:  #FDC92F;
}


footer {
	text-align: center;
	color: black;
	background-color: #FDC92F;
	height: 10vw;
	justify-content: center;
	display: flex;
	width: 100%;
	margin-top: 20px;
}


#foot {
	font-family: 'Space Grotesk';
	font-size: 2vw;
	font-weight: 300;
	height: 10vw;
	margin-top: 7vh;
}