@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Space+Grotesk:wght@300;700&display=swap');


body {font-family: 'Carrois Gothic' ;
	  background-color: #181717;
}

header {
	background-color: #FDC92F;
	display: inline-flex;
	margin: -1vw;
	width: 101.5%;
	text-align: center;
	align-items: center;
	height: 15vh;
}

#ojo {
	width: 8vw;
	height: 8vw;
	margin-left: 3vw;
	margin-top: 0.8vw;
}

.iconos {
	display: inline-flex;
	margin-left: 55vw;
	justify-content: space-between;
}

#fotos {
	margin-inline: 2vw;
	margin-top: 0.8vw;
	width: 2.5vw;
}

section	{
	margin: 2vw;
	margin-top: 3vw;
	padding: 2vw;
}

section h1{
	font-family: 'Space Grotesk';
	font-size: 4vw;
	font-weight: 700;
	height: 10vw;
	color: 	#FDC92F;
	justify-content: 	center;
}

section h2{
	font-family: 'Space Grotesk';
	font-size: 2vw;
	font-weight: 300;
	height: 10vw;
	color: 	#FDC92F;
	margin-top: -15vh;
}

section h3{
	font-family: 'Space Grotesk';
	font-size: 2vw;
	font-weight: 700;
	height: 10vw;
	color: 	#FDC92F;
	margin-top: -15vh;
}



main 

#titulo {color: #FDC92F;
         margin-left: 8vw;
         margin-top: 4vw;}


#cajas {display: flex;
	    float: left;
        }


#caja1 {margin-top: 4vw;
	    }

 .texto {float: left;
         margin-right: 6vw;
         margin-left: 8vw;
         }       
  
  .texto h1 {color: #FDC92F;
             }


#autor {margin-top: 4vw;
        margin-right: 9vw;
        margin-bottom: 4vw}

  #foto {width: 20vw;
         } 
   
  #linea {background-color: #D9D9D9;
          color: #222121;
          width: 20vw;
          padding: 20px;}

#caja2 {align-items: center;
	    display: table;
	    margin-left: 13vw;
	    margin-bottom: 4vw;}

  #foto2 {display: table-cell;
          padding-right: 250px;}










footer {
	text-align: center;
	color: black;
	background-color: #FDC92F;
	height: 10vw;
	justify-content: center;
	display: flex;
	width: 100.5%;
	margin-top: 20px;
}


#foot {
	font-family: 'Space Grotesk';
	font-size: 2vw;
	font-weight: 300;
	height: 10vw;
	margin-top: 7vh;
}